@model DanceClubs.Models.ImageIndexModel

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 33.33%;
            padding: 5px;
        }

        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        @@media screen and (max-width: 500px) {
            .column {
                width: 100%;
            }
        }
    </style>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        .zoom {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        .zoom:hover {
            opacity: 0.7;
        }
        
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.9);
        }
        
        .modal-content {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
        }
        
        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: #ccc;
            padding: 10px 0;
            height: 150px;
        }
        
        .modal-content, #caption {
            -webkit-animation-name: zoom;
            -webkit-animation-duration: 0.6s;
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @@-webkit-keyframes zoom {
            from {
                -webkit-transform: scale(0)
            }

            to {
                -webkit-transform: scale(1)
            }
        }

        @@keyframes zoom {
            from {
                transform: scale(0)
            }

            to {
                transform: scale(1)
            }
        }
        
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
        
        @@media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }
    </style>    
</head>
<body>
    <div class="row">
        <div id="myModal" class="modal">
            <span class="close" onclick="closeImage()">&times;</span>
            <img id="modalImage" class="modal-content">            
        </div>
        @foreach (var image in Model.Images)
        {            
            <div class="column">
                <img id=@image.Url src=@image.Url alt="Image" class="img-fluid zoom" onclick="zoomImage(this.id)">
                <h4 class="text-center my-3" style="font-family:Century">@image.GroupName</h4>
                <h6 class="text-center my-3" style="font-family:Arial">Autor: @image.Author</h6>
                <h6 class="text-center my-3" style="font-family:Arial;font-size:smaller">Objavljeno: @image.Published</h6>
            </div>
        }
    </div>  
    <script>       
        function zoomImage(id) {
            var img = document.getElementById(id)
            var modal = document.getElementById("myModal");
            var modalImg = document.getElementById("modalImage");
            modal.style.display = "block";
            modalImg.src = img.src;
        }        
        function closeImage() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }
    </script>

</body>