@model DanceClubs.Models.ClubIndexModel


<div style="float:right;">
    <a class="btn btn-primary" href="/Clubs/Create" style="float:right; margin:5px">Dodaj klub</a>
</div>
<table class="table table-hover" id="clubIndexTable">
    <tbody style="background-color:white">
        @foreach (var club in Model.ClubList)
        {
            <tr>
                <td>
                    <center>@club.Name</center>
                </td>
            </tr>            
        }
    </tbody>
</table>