@model DanceClubs.Data.Models.Activity

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6" style="margin:auto">
        <h2>Nova aktivnost</h2>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Start" class="control-label">Početak</label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="End" class="control-label">Kraj</label>
                <input asp-for="End" class="form-control" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label">Mjesto</label>
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityTypeId" class="control-label">Vrsta aktivnosti</label>
                <select asp-for="ActivityTypeId" class="form-control" asp-items="ViewBag.ActivityTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="GroupId" class="control-label">Grupa</label>
                <select asp-for="GroupId" class="form-control" asp-items="ViewBag.GroupId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
        <div style="margin:auto">
            <a asp-action="Index">Lista aktivnosti</a>
        </div>
    </div>
</div>         

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
