@model DanceClubs.Data.Models.Club

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6" style="margin:auto">
        <h2>Novi klub</h2>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Ime</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label">Adresa</label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubOwnerId" class="control-label">Vlasnik</label>
                <select asp-for="ClubOwnerId" class="form-control" asp-items="ViewBag.ClubOwnerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
        <div style="margin:auto">
            <a asp-action="Index">Lista klubova</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
