@model ReportModel

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bar</title>
</head>
<body>
    <div style="height:55px">
        <label for="clubId"><strong>Klub</strong></label>
        @Html.DropDownListFor(m => m.ClubId, new SelectList(Model.ClubList, "ClubId", "ClubName", Model.ClubId), new { id = "club", @class = "dropdown" })
        <label for="clubId" style="margin-left:30px"><strong>Godina</strong></label>
        @Html.DropDownListFor(m => m.Year, new SelectList(Model.YearList, "Year", "Year", Model.Year), new { id = "year", @class = "dropdown" })        
        <a class="btn btn-primary" href="/Report/AllClubs" style="float:right; margin:5px; display:inline-block">Top 5 klubova</a>
    </div>
    <div id="container">        
        <br /><br />
        <div id="ChartResult">
            @{await Html.RenderPartialAsync("Chart", Model);}
        </div>
    </div>
</body>
</html>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type="text/javascript">
    var sheet = document.createElement('style');
    sheet.innerHTML = ".dropdown {width: 15%; height: 50%; display: inline-block; border-radius:5px}";
    document.body.appendChild(sheet);   
    $(document).ready(function () {        
        $("#club").change(function () {
            var clubId = $("#club").val();
            var year = $("#year").val();
            $("#ChartResult").load('@(Url.Action("RefreshChart","Report", null, Context.Request.Scheme))?clubId=' + clubId + '&year=' + year);
        });
        $("#year").change(function () {
            var clubId = $("#club").val();
            var year = $("#year").val();
            $("#ChartResult").load('@(Url.Action("RefreshChart","Report", null, Context.Request.Scheme))?clubId=' + clubId + '&year=' + year);
        });
    });
</script>

