@model DanceClubs.Models.ClubIndexModel

<div style="float:right;">
    <a class="btn btn-primary" href="/GroupUsers/Create" style="float:right; margin:5px">Dodaj člana grupe</a>
    <a class="btn btn-primary" href="/Groups/Create" style="float:right; margin:5px">Dodaj grupu</a>
    <a class="btn btn-primary" href="/ClubUsers/Create" style="float:right; margin:5px">Dodaj člana kluba</a>
</div>
<table class="table table-hover" id="clubIndexTable">
    <tbody style="background-color:white">
        @foreach (var club in Model.ClubList)
        {            
            <tr id=@club.Id>
                <td>
                    <center>@club.Name</center>
                </td>
            </tr>
        }
    </tbody>
</table>