@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Zaboravili ste lozinku?";
}

<html>
<head>
    <style>
        body {
            background-color: mediumaquamarine;
        }
    </style>
</head>
<body>
    <div style="text-align:center;align-content:center;margin-top:45px">
        <img src="~/pointe.png" style="max-width:6%;max-height:6%;" />
        <h1 style="font-family:'Ink Free';display:inline-block;text-align:center">DanceClubs</h1>
    </div>
    <br />

    <div class="row" style="margin:auto">
        <div class="col-md-4" style="margin:auto">
            <h1 style="font-size:xx-large">@ViewData["Title"]</h1>
            <h4>Unesite svoj email.</h4>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Input.Email"></label>
                            <input asp-for="Input.Email" class="form-control" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Pošalji</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
