@page
@model RegisterModel
@{
    ViewData["Title"] = "Registracija";
}

<html>
<head>
    <style>
        body {
            background-color: mediumaquamarine;
        }
    </style>
</head>
<body>
    <div style="text-align:center;align-content:center;margin-top:45px">
        <img src="~/pointe.png" style="max-width:6%;max-height:6%;" />
        <h1 style="font-family:'Ink Free';display:inline-block;text-align:center">DanceClubs</h1>
    </div>        
    <br />
    <div class="row" style="margin:auto">
        <div class="col-md-4" style="margin:auto">
            <h2>@ViewData["Title"]</h2>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">                
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password">Lozinka</label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword">Potvrda lozinke</label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Registriraj se</button>
            </form>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
