@model DanceClubs.Data.Models.MembershipFee

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-6" style="margin:auto">
        <h2>Nova članarina</h2>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClubUserId" class="control-label">Korisnik</label>
                <select asp-for="ClubUserId" class="form-control" asp-items="ViewBag.ClubUserId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Month" class="control-label">Mjesec</label>
                <select asp-for="Month" class="form-control" asp-items="ViewBag.Month"></select>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label">Godina</label>
                <select asp-for="Year" class="form-control" asp-items="ViewBag.Year"></select>
            </div>
            <div class="form-group">
                <label asp-for="PaymentTime" class="control-label">Datum plaćanja</label>
                <input asp-for="PaymentTime" class="form-control" />
                <span asp-validation-for="PaymentTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label">Iznos</label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
        <div style="margin:auto">
            <a asp-action="Index">Lista članarina</a>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}